
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    }
body {
    background-color: rgb(230, 207, 226);
    }        

.indexTitulo{color: rgb(165, 42, 144);
    text-align: center;
    font-size: 3rem;
    padding: 1px;
    font-family: 'Prompt', sans-serif;  }
.centrarMenu{
    text-align: center;
}   
.menu li{
    display: inline-block;
        }
nav ul li a {
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    background-color: white;
    font-size: 16px;
    padding: 5px;
    margin: 10px;
    border-radius: 20px
} 
.parrafoHome{
    font-family:'Roboto', sans-serif;
    margin: 290px 10px 10px 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}   

.parrafoNosotros{
    font-family:'Roboto', sans-serif;
    margin: 30px 10px 30px 10px;
    font-size: 20px;
    font: bold;
    text-align: center;
    display: inline-block;
}

.footer{
    padding: 20px;
    margin: 10px;
    background-color: rgb(240, 172, 217);
}   
.footerNosotros{
    padding: 20px;
    margin: 10px;
    background-color: rgb(240, 172, 217);
} 
.footerAct{
    padding: 20px;
    margin: 10px;
    background-color: rgb(240, 172, 217);
}    
.fondoHome{
    background-image: url(/img/mujeres.jpg);
    background-size: cover;
}
.formulario{
    
    margin: 50px;
    padding: 1px 1px 1px 20px;
}

form fieldset div label{
    font-size: 25px
}
.tituloFormulario{
    margin: 50px 200px 50px 20px;
}
.boton{
    font-size: 15px
    
}
.botones{
    margin: 20px
    
}
.tituloMensaje{
    text-align: end;
}
.mensaje{
    width: 500px;
    height: 200px;
}
.separacionLabel{
    margin: 10px;
}
.inputN{
    margin-left: 33px;
    width: 300px;
}
.inputE{
    margin-left: 55px;
    width: 300px;
}
.inputM{
    margin-left: 30px;
    width: 500px;
    height: 200px;
    padding: 10px 10px 160px 10px;
}
.tituloActiv{
    background-color: rgb(231, 224, 190);
    font-size: 2.5rem;
    margin: 50px 10px 10px 10px;
}
.pAct{
    font-family:'Roboto', sans-serif;
    margin: 10px 10px 10px 10px;
    font-size: 1.2rem;
    font: bold;
    text-align: center;
    display: inline-block;
}
.individualActividades{
    width: 500px;
    margin: 50px 10px 10px 10px;
}
.centrarFotoActiv{
    text-align: center;
}
.centrarStaff{
    text-align: center;
    font-size: 20px;
    margin: 50px;
}
main h3{
    margin: 50px 0px 20px;
}
.centrarVideo{
    text-align: center;
}

@media only screen and  (min-width:768px) {     
    .tituloActiv{
        text-align: center;   
    }
}
@media only screen and  (min-width:1090px) {
    .padreSuperior{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .padreAct {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        text-align: center;
        align-items: center;
    }
}
